<footer>
<div id="footer">
    <span><i class="far fa-circle"></i></span>
    <p> Coding Ninjas. All Rights are reserved</p>
    <ul>

        <li>
    <a href="/">home</a>
    </li>

    <li>
    <a href="/users/profile">profile</a>
    </li>

    </ul>
</div>

</footer>