
<h1>
    hiiiiiii  codial I belong to home.ejs <%= title %> 
</h1>

       <section id="feed-posts">
           <h4>Posts</h4>
      <form action="" method="post" >
      <textarea name="content" cols="30" rows="3" placeholder="write a post here"></textarea>
      <input type="submit" value="post">
      </form>
    </section>