
  <h1>
      hi codial how its going with user profile ejs <%= title %>
    </h1>

    <p> Name:<%= user.name %></p>
    <p>email:<%= user.email %></p>

    <a href="/user/sign-out" id="logout-button">Sign out</a>