
#footer{
    width:100%;
    height: 3rem;
    background-color: darkgrey; 
    display:flex;
    flex-direction: row;

    span{
        color:antiquewhite;
        padding-left: 10px;
        font-size: 20px;
        position: relative;
        top: 15px;
        padding-right: 10px;        
    }
    p{
        color: antiquewhite;
    }

    li{
      list-style: none;
    }
    
    a{
        text-decoration: none;
        color: antiquewhite;
    }

}
